@import "./variables.scss";

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw; /* занимаем всю ширину экрана */
  height: 100vh; /* занимаем всю высоту экрана */
  background-color:  var(--primary-color);
  color: var(--text-color);
}
