$primary-color: #ffffff;
$secondary-color: #ff0000;
$error-color: red;
$background-color: #ffffff;
$text-color: #000000;
$secondary-color-dark: darken($secondary-color, 15%);
$font-size-large: 24px;
$font-size-small: 12px;
$border-radius: 8px;
$box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
