// src/styles/variables.dark.scss

$primary-main: #d4d4d4;
$primary-light: #939393;
$primary-dark: #505050;
$primary-contrast-text: #ffffff;

$secondary-main: #7f7f7f;
$secondary-light: #555555;
$secondary-dark: #3c3c3c;
$secondary-contrast-text: #000000;

$error-main: #cf6679;
$error-light: #ff8a80;
$error-dark: #b00020;
$error-contrast-text: #ffffff;

$warning-main: #ffb74d;
$warning-light: #ffe97d;
$warning-dark: #c88719;
$warning-contrast-text: #000000;

$info-main: #2196f3;
$info-light: #6ec6ff;
$info-dark: #0069c0;
$info-contrast-text: #ffffff;

$success-main: #4caf50;
$success-light: #80e27e;
$success-dark: #087f23;
$success-contrast-text: #505050;

$background-default: #232323;
$background-paper: #000000;

$text-primary: #ffffff;
$text-secondary: #b3b3b3;
$text-disabled: #666666;

$action-active: #ffffff;
$action-hover: rgba(186, 186, 186, 0.08);
$action-selected: rgba(164, 164, 164, 0.16);
$action-disabled: rgb(255, 255, 255);
$action-disabled-background: rgba(255, 255, 255, 0.12);
$action-focus: rgba(69, 69, 69, 0.12);