:root {
  --primary-color: #1976d2; /* Цвет primary из темы */
  --secondary-color: #ff4081; /* Цвет secondary из темы */
  --error-color: red; /* Цвет ошибки */
  --background-color: #f4f4f4; /* Цвет фона для страниц */
  --text-color: #333; /* Основной цвет текста */
}
