/* styles/NotificationPage.module.scss */
.pageContainer {
  height: 80%;
  background-color: var(--secondary-light);
  padding: 8px 0px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.likeSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.likeCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  border-radius: 12px;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: #bbb;
  border-radius: 50%;
}

.likeIcon {
  font-size: 28px;
}
